<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid country records</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        {% for i in result: %}
            {% if i["country"]==country%}
        <div class="title"><h1>{{i["country"]}} Covid-19 record</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{i["country"]}}</h2>
                <p>Total cases: <b>{{i["cases"]}}</b></p>
                <p>Today cases: <b>{{i["todayCases"]}}</b></p>
                <p>Recovered cases: <b>{{i["recovered"]}}</b></p>
                <p>Deaths cases: <b>{{i["deaths"]}}</b></p>
                <a href="{{url_for('back')}}">Back</a>
            </div>
            {% endif%}
        {% endfor %}
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>